* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.div {
  width: 200px;
  height: 20vh;
  border: none;
  background-color: rgb(255, 225, 126);
  box-shadow: inset 5px 5px 5px #464646;
  border-radius: 4px;
}
